<h2>New Tweet!</h2>

<form class="tweet-compose" data-list-id=".feed">

  <label>
    Content
    <textarea id="content" name="tweet[content]"></textarea>
  </label>
  <strong class="chars-left">140 characters left.</strong>
  <br>

  <label>
    Mention
    <select name="tweet[mentioned_user_ids][]">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select>
  </label>
  <br>

  <button>Post Tweet!</button>
</form>
