// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
sidebar {
  float: left;
  display:block;
  width: 20%;
  border-right: 1px solid black;
  height: 100%;
  padding: 20px;
  background: lightgrey;
}
content {
  float: left;
  display:block;
  width: 70%;
  height: 100%;
  background: lightgrey;
  padding: 20px;
}

main {
  margin: auto;
  width: 900px;
  display: block;
  height: 400px;
}
