<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<section class="infinite-tweets" data-list-id=".feed">
  <ul class="feed">
    <!-- <% @feed_tweets.each do |tweet| %>
      <li><%= render "tweets/tweet", tweet: tweet %></li>
    <% end %> -->
  </ul>
  <a href="javascript:void(0)" class="fetch-more">Fetch More Tweets</a>
</section>

<%= render "tweets/form" %>


<script>
  $(function () {
    $('.tweet-compose').tweetCompose();
    $('.infinite-tweets').infiniteTweets();
  });
</script>
